# Export functions
export(make_cpgs)
export(make_ICRs)
export(create_bedmeth)
export(plot_CpG_coverage)

# Import functions from other packages
import(shiny)
import(tidyverse)
import(valr)
import(readr)
