# Export functions
export(create_ICR_matrices)
export(bedEPICv1)
export(bedEPICv2)
export(bed450k)
export(dmr19.R)
export(dmr38.R)
export(create_bedmeth)

# Import functions from other packages
import(shiny)
import(tidyverse)
import(valr)
import(readr)
